<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index-style.css">
</head>
<body>
    <div id="header">
    <h2>Algo-Slide</h2>
    <p>
        An interactive webpage displaying slideshows to efficiently revise various
        algorithms An interactive webpage displaying slideshows to efficiently revise
        various algorithms
    </p>
    <button>Get Started</button>
</div>

 <div id="content">

    <div class="algo-card">
        <h3>Algo 1</h3>
    </div>

    <div class="algo-card">
       <h3>algo 2</h3>
    </div>
    <div class="algo-card">
        <h3>Algo 1</h3>
    </div>

    <div class="algo-card">
        <h3>Algo 2</h3>
    </div>
    <div class="algo-card">
        <h3>Algo 1</h3>
    </div>

    <div class="algo-card">
        <h3>Algo 2</h3>
    </div>

</div>



</body>
</html>