<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algo Slides</title>

    <link rel="stylesheet" href="../static/css/slide-show-style.css">
</head>
<body>

<div class="container">

    <h1>Binary Search</h1>

    <div class="content">

        <h2>Algorithm</h2>

        <p>
            algorithm explanation
        </p>

    </div>

    <div class="controls">
        <button id="previous">← Previous</button>
        <button id="next">Next →</button>
    </div>

</div>

</body>
</html>